/* (A) WHOLE PAGE */
:root {
  --color-body-bg: #ababab;
  --color-form-border: #ccc;
  --color-form-bg: #fff;
  --color-form-label: #7e7e7e;
  --color-submit-bg: #c51111;
  --color-submit-text: #fff;
  --color-error-border: #ff7979;
  --color-error-bg: #ffdada;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  background: var(--color-body-bg);
  height: 100vh;
  overflow: hidden;
}
body::before {
  content: "";
  background-image: url("/static/images/2.png");
  background-size: cover;     /* Ensures the image covers the whole screen */
  background-position: center; /* Centers the image */
  background-attachment: fixed; /* Keeps the image fixed when scrolling */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  position: fixed;             /* Fixes the image in place */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Places it behind the content */
}
body::after {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  max-width: 500px;
  max-height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  background-image: var(--background-image, url("/static/images/Ⓐ.png")) !important;  opacity: 40%;
}
/* (B) LOGIN FORM */
form {
  width: 400px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid var(--color-form-border);
  background: rgba(170, 169, 169, 0.161);
  position: relative;
  top: 30%;
  color: white;
}
form h1 {
  font-size: 28px;
  margin: 0 0 20px 0;
}
form label, form input {
  display: block;
  width: 100%;
}
form label {
  color: #fff;
  padding: 10px 0;
}
form input { padding: 10px; }
form input[type=submit] {
  margin-top: 20px;
  border: 0;
  font-weight: 700;
  color: var(--color-submit-text);
  background: var(--color-submit-bg);
  cursor: pointer;
}

/* (C) ERROR */
.error {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--color-error-border);
  background: var(--color-error-bg);
}
